* {
  box-sizing: border-box;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.news-container {
  margin: 20px auto;
  max-width: 500px;
  padding: 2px;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.link {
  text-align: center;
  text-decoration: none;
  margin: 5px;
  margin-top: 15px;
  background-color: #008000;
  color: #fff;
  padding: 5px;
  width: 100px;
  max-width: 150px;
}
.left {
  float: right;
}

.message {
  color: red;
  margin: 3px;
}
.news-item {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  max-width: 250px;
  text-align: center;
  margin: 15px;
  margin-left: 15px;
  padding: 5px;
}

img {
  width: 90px;
  height: 80px;
  border: 1px solid #ccc;
  background-size: cover;
}

.news-item a {
  text-decoration: none;
}

button {
  margin: 5px;
  padding: 7px;
  background-color: #008000;
  border: 0;
  border-radius: 5px;
  width: 150px;
  max-width: 250px;

}

input[type="number"] {
  -moz-appearance: textfield;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}